@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700;900&family=Shippori+Mincho:wght@400;500;600;700;800&display=swap");
/* 
font-family: "Chivo", sans-serif;
font-family: "Shippori Mincho", serif; */

/* reboot css start */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --primary: #f5f82c;
  --secondprimary: #f1f51c;
  --secondary: #f1f504;
}
ul {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
body {
  font-family: "Chivo", sans-serif;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Shippori Mincho", serif;
}
.section {
  padding: 7rem;
}

/* reboot css ends */

/* custom css starts */

/* header css starts */
header {
  width: 100%;
  position: relative;
  background-color: var(--primary);
}

/* <------ navigation css ---> */

.nav {
  display: grid;
  grid-template-columns: 5fr 7fr;
  height: 4.5rem;
  padding: 0 95px;
  z-index: 100;
}
.sticky {
  position: fixed;
  top: 0;
  z-index: 100;
  left: 0;
  right: 0;
  background-color: var(--primary);
}
.logo-img {
  position: relative;
  width: 100%;
  line-height: 4.5rem;
}
.logo-img img {
  width: 10rem;
  padding: 30px;
}

.nav .nav-title ul {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: end;
}
.nav-title ul li {
  list-style: none;
  position: relative;
  margin: 0 7px;
  line-height: 4.5rem;
  transition: all 0.4s ease-out 0s;
  overflow: hidden;
  z-index: 1;
}
.nav-title ul li::before,
.hero-btn a::before,
.final-btn a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #131011;
  z-index: -1;
  transition: 0.5s transform;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform: scaleX(0);
}
.nav-title ul li:hover::before,
.hero-btn a:hover::before,
.final-btn a:hover::before {
  transform: scaleX(1);
}
.nav-title ul li a {
  font-size: 1.2rem;
  color: #000;
  padding: 20px 10px;
  /* background-color: blue; */
}
.nav-title ul li a:hover {
  color: #fff;
}
.main-heading {
  position: relative;
  padding: 7rem;
  width: 100%;
  z-index: 2;
  display: flex;
}

.hero-picure {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.hero-picure img {
  width: 40rem;
}
.hero-area {
  flex: 1;
  max-width: 50rem;
  z-index: 5;
}
.hero-area h1 {
  font-size: 5rem;
  font-weight: 500;
  margin-bottom: 15px;
}
.hero-area p {
  font-size: 3rem;
  width: 35rem;
}
.hero-area .hero-btn a,
.final-btn a {
  border: 1px solid #150303;
  color: #150303;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 500;
  z-index: 2;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;
  padding: 1.5rem 4rem;
}
.hero-btn a:hover,
.final-btn a:hover {
  color: #fff;
  z-index: 3;
}

/* < -- section-1 css start -- > */
.section-1 {
  background-image: url(../img/background.png);
  width: 100%;
  background-size: cover;
  padding: 7rem 12rem;
}
.section-1 .cover-box {
  padding: 5rem;
  background-color: #fff;
}
.section-1 .myself {
  text-align: center;
  border-bottom: 1px solid #cfcfcf;
}
.section-1 .myself span {
  font-size: 1rem;
  display: block;
  font-weight: 400;
  letter-spacing: 0.1em;
  margin-bottom: 1.5rem;
  color: var(--secondprimary);
}
.section-1 .myself h2 {
  font-size: 3rem;
  margin-bottom: 40px;
  line-height: 1.3;
  position: relative;
}

.section-1 .myself a {
  padding: 1rem 3rem;
  background-color: var(--secondary);
  color: #000;
  position: relative;
  display: inline-block;
  font-size: 1.5rem;
  margin-bottom: 3rem;
  border: 1px solid var(--primary);
  border-radius: 0px;
  transition: 0.3s ease-in-out;
}
.section-1 .myself a:hover {
  border: 1px solid #000;
  background-color: #fff;
}
.section-1 .achive {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  column-gap: 5rem;
  padding: 0 1rem;
}
.section-1 .range-scale {
  text-transform: uppercase;
  font-size: 1.5rem;
}
.section-1 .portfolio-description {
  margin-top: 3rem;
  padding: 0 1rem;
  font-size: 1.2rem;
  text-align: center;
}

/* skill details css code */

.section-2 h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}
.section-2 .expert-details {
  display: grid;
  grid-template-columns: 3fr 2fr;
  column-gap: 4rem;
}
.expert-details .web-skill {
  background-color: var(--secondary);
  padding: 2rem 0;
  position: relative;
}
.expert-details .web-skill ul li {
  padding: 1rem 3rem;
  cursor: pointer;
  margin-bottom: 1rem;
  position: relative;
  display: block;
  font-size: 2.4rem;
  font-weight: 500;
  font-family: "Shippori Mincho", serif;
  opacity: 0.5;
}
.web-skill ul li.active {
  opacity: 1;
}
.web-skill ul li.active::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #fff;
  right: -40px;
  top: 20px;
  transform: rotate(-45deg);

  opacity: 1;
}

.skill-details {
  padding: 2rem 0;
  position: relative;
  z-index: 2;
}
.expert-details ul li {
  list-style: none;
}
.skill-details ul li {
  display: none;
}
.skill-details ul li.active {
  display: block;
}
/* experience section css code start */
.section-3 {
  padding: 3rem 7rem;
}
.section-3 h2,
.section-5 h2 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}
.section-3 .exp-detail,
.section-5 .exp-detail {
  padding-left: 8rem;
}
.section-3 .exp-detail ul li,
.section-5 .exp-detail ul li {
  list-style: none;
  padding: 2rem 0;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}
.exp-detail .exp-data {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.exp-data h6 {
  font-weight: bold;
}
.exp-detail .timeline {
  margin-bottom: 0.5rem;
  display: block;
  font-weight: 100;
}
/* experience section css code end */

/* about myself css code start */
.myself-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5rem;
  position: relative;
}

.myself-data h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
  position: relative;
  padding: 2rem 0;
}
.myself-data h2::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;

  background-color: #ff3535;
  bottom: 0;
}
.myself-data h2::after {
  position: absolute;
  content: "";
  width: 10rem;
  height: 2px;
  background-color: #ff3535;
  bottom: 4px;
  left: 2px;
}
.myself-data .action-btn {
  border: 1px solid #000;
  padding: 0.8rem 2rem;
  display: inline-block;
  margin-top: 2rem;
  border-radius: 30px;
  color: #000;
  transition: 0.3s ease-in-out;
  position: relative;
}
.action-btn:hover {
  background-color: #000;
  color: #fff;
}

/* about myself css code end */
/* contact me css start */
.contact {
  padding: 3rem 7rem;
  background-color: var(--primary);
  position: relative;
}
.contact .ct-about {
  border-bottom: 1px solid #5f5f5f;
}
.contact .ct-about h3 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}
.contact .main-contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8rem;
  padding: 3rem 0;
}
.main-contact h5 {
  font-weight: bold;
}
.left-ct form div {
  margin: 1.5rem 0;
}
.left-ct form input,
textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #333;
  border-radius: 0;
  padding: 10px 0;
}
.left-ct form input::placeholder,
.left-ct form textarea::placeholder {
  color: #000;
}
.left-ct form input:focus::placeholder {
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.left-ct form input:focus,
textarea:focus {
  outline: none;
  box-shadow: none;
  border-radius: 0;
  background-color: transparent;
  border-bottom: 1px solid #333;
  transition: 0.3s ease-in-out;
}
.left-ct .final-btn a {
  background-color: #000;
  color: #fff;
  font-weight: 100;
  border: none;
}
.left-ct .final-btn a::before {
  background-color: #fff;
}
.final-btn {
  position: relative;
}
.right-ct p {
  margin-bottom: 0.2rem;
  font-weight: bold;
}
.right-ct p > .fas {
  min-width: 10px;
}
.right-ct .social a {
  border-radius: 50%;
  padding: 15px;
  margin-right: 10px;
  background-color: #e30909;
  height: 30px;
  display: inline-table;
  color: #fff;
  transition: 0.5s ease-in-out;
}
.right-ct .social a:hover {
  background-color: #000;
  transform: rotateY(180deg);
  transition: 0.5s ease-in-out;
}
.social a i {
  text-align: center;
  width: 30px;
  font-size: 1.5rem;
}
/* contact me css end */
